body {
    height: 100vh;
}


.btn-learn-more {
    width: 300px;
    height: 40px;
}

#carouselExample {
    height: 350px!important;
}

.section-notices {
    margin-top: 2rem;
}

.page-content {
    margin-bottom: 12rem;
}


.header-page {
    display: flex!important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3.5rem;
}

.navbar-brand .image {
    height: 350px!important;
}

.section-notices {
    flex-wrap: nowrap;
    max-width: 350px;
}

.card:not(:last-child) {
    margin-right: 1rem;
}

@media screen and (min-width: 768px) {
    .section-notices {
        flex-wrap: nowrap;
        min-width: 33.3333%
    }
}

@media screen and (max-width: 768px) {
    .section-notices {
        flex-wrap: wrap;
        min-width: 35%;
    }
}

@media screen and (max-width: 600px) {
    .section-notices .card {
        flex-wrap: wrap;
        min-width: 100%;
    }

    .section-notices .card:not(:last-child) {
        margin-bottom: 2rem;
    }
}




.page {
    margin-bottom: 5em;
}


.col-medias-social-buttons .h4 {
    margin-bottom: 2em;
}

.brand-footer {
    width: 200px;
}

.medias-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 1em;
}

.social-item {
    width: 100px;
    cursor: pointer;
    border-radius: 3px;
}

.social-item:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
    background-color: #000;
    color: #4d3efc;
}


/* awesome font */
.fa-facebook-f {
 color: #4d3efc;
}
.fa-twitter {
    color: #1DA1F2!important;
}

.fa-instagram {
    color: #833AB4;
}

.fa-youtube {
    color: #FF0000;
}

.section-notice-main {
    width: 100%;
    height: 500px;
}

.section-notice-main .card-img-top {
    position: relative;
    top: 0; left: 0;
    padding: 0 0;
    background-image: url("https://picsum.photos/200/300");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shadow {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: inherit;
    background: rgba(0, 0, 0, 0.6);
}

.section-notice-main .card-img-top .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    color: #fff;
    font-size: 2.4rem;
    padding: 3rem;
}

.section-notice-main .card-img-top .card-body h5 {
    margin-bottom: 2.6rem;
}
.section-notice-main .card-img-top .card-body p {
    margin: 2rem;
}

.footer-page {
    padding-bottom: 2.5rem;
}

#contact-form .row > div {
    margin-bottom: 2.4rem;
}

.btn-send-contact {
    height: 44px;
    width: 60%;
}


.img-about {
    border-radius: 2rem;
}

.jumbotron {
    position: relative;
    padding: 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.jumbotron.eventos {
    background-image: url("../images/eventos.jpg");
}
.jumbotron.novidades {
    background-image: url("../images/telefone.png");
}
.jumbotron.projetos {
    background-image: url("../images/projetos.webp");
}

